<div class="card wrapper h-custom">
  <div class="container py-5">
    <div class="card">
      <div class="card-body p-4">
        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Sign-up Form</h3>
        <notification
          *ngIf="notificationMessage"
          [message]="notificationMessage"
        ></notification>
        <loader *ngIf="isLoading"></loader>
        <form [formGroup]="form" #formRef="ngForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  [ngClass]="
                    isValid('firstname', formRef.submitted) ? 'is-invalid' : ''
                  "
                  id="firstname"
                  formControlName="firstname"
                />
                <label for="firstname">First name</label>
              </div>
              <validation-error
                *ngIf="isValid('firstname', formRef.submitted)"
                formElm="firstname"
              ></validation-error>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-floating">
                <input
                  type="email"
                  class="form-control"
                  [ngClass]="
                    isValid('lastname', formRef.submitted) ? 'is-invalid' : ''
                  "
                  id="lastname"
                  formControlName="lastname"
                />
                <label for="lastname">Last name</label>
              </div>
              <validation-error
                *ngIf="isValid('lastname', formRef.submitted)"
                formElm="lastname"
              ></validation-error>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="
                    isValid('email', formRef.submitted) ? 'is-invalid' : ''
                  "
                  id="email"
                  formControlName="email"
                />
                <label for="email">Email</label>
              </div>
              <validation-error
                *ngIf="isValid('email', formRef.submitted)"
                formElm="email"
              ></validation-error>
            </div>
          </div>
          <div class="mt-4 pt-2">
            <input
              class="btn btn-primary btn-lg"
              type="submit"
              value="Submit"
              (click)="submit()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
